:root {
  --Main-color: #0078ff;
  --Secondary-color: #00254e;
  --Main-color-O: #0078ff;
  --Background: #f8f8f8;
  --Grey: #888888;
  --Text: #374348;
}
.login-page {
  position: relative;
  width: 100%;
  margin: auto;
  min-height: 100vh;
  background-image: url("./images/emirates.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.login-page .emailVer {
  width: 100%;
  padding: 50px 0;
}
.login-page .emailV {
  margin: 0;
  padding: 0;
  text-align: center;
  color: white;
  position: relative;
  z-index: 999;
}
.login-page::before {
  content: "";
  background-color: #00000079;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
}
.login-page .goback-form {
  display: block;
  text-align: start;
  margin-bottom: 15px;
}
.form {
  position: relative;
  z-index: 1;
  background: #ffffff;
  max-width: 360px;
  margin: 0 auto;
  top: 50px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form input[type="password"] {
  margin-bottom: 15px;
}
.login-page .form .login-form .message-forgot-password {
  margin-bottom: 15px;
  text-align: start;
  color: var(--primary-color);
  font-size: 12px;
  text-decoration: none;
}
.form .error-username,
.form .error-email,
.form .error-password {
  display: block;
  color: red;
  text-align: start;
  font-size: 14px;
  margin-bottom: 10px;
}
.form .sent {
  display: block;
  color: green;
  text-align: start;
  font-size: 14px;
  margin-bottom: 10px;
}

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: var(--primary-color);
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,
.form button:active,
.form button:focus {
  background: var(--secondary-color);
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: var(--primary-color);
  text-decoration: none;
}
.form .register {
  margin-top: 10px;
}
.player {
  width: 100%;
  margin: auto;
  background-color: #eeeeee;
  padding: 20px 0px;
}
.player .fixTable {
  width: 80%;
  background-color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.player .fixTable header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--Grey);
  padding: 20px 50px;
}
.player .fixTable header .move {
  width: 52px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 0px;
  transition: 0.1s;
  font-weight: 600;
  font-size: 14px;
}
.player .fixTable header p span {
  display: inline-block;
  color: var(--Text);
  font-weight: 700;
}
.player .fixTable .footerP1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.fixTable .footerP1 .match {
  padding: 10px 0;
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--Grey);
}
.fixTable .footerP1 .match .team {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  flex: 1;
  display: flex;
  align-items: center;
}
.fixTable .footerP1 .match .team img {
  max-width: 40px;
}
.fixTable .footerP1 .match .team p {
  font-weight: 600;
}
.fixTable .footerP1 .match .team:first-child img {
  margin-left: 10px;
}
.fixTable .footerP1 .match .team:last-child img {
  margin-right: 10px;
}
.fixTable .footerP1 .match .team:first-child {
  justify-content: flex-end;
}
.fixTable .footerP1 .match .team:last-child {
  justify-content: flex-start;
}
.fixTable .footerP1 .match .score {
  margin: 0px 10px;
  font-size: 25px;
  font-weight: bold;
  color: var(--Main-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.fixTable .footerP1 .match .num {
  color: black;
  text-align: center;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  border: 1px solid rgb(207, 207, 207);
  padding: 0;
  font-size: 16px;
  font-weight: 700;
}
.fixTable .footerP1 .match label {
  display: flex;
  align-items: center;
  color: black;
  margin: 0 10px;
}
.fixTable .footerP1 .match h1 {
  margin: 0;
}
.fixTable .footerP1 .match aside {
  flex-basis: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.save-button {
  padding-top: 20px;
  padding-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.welcome {
  text-align: start;
  padding-bottom: 25px;
}
.welcome p {
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  color: black;
  line-height: 20px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .player {
    padding: 20px 100px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .player {
    padding: 20px 50px;
  }
}
@media (max-width: 767px) {
  .player {
    padding: 30px 25px;
  }
  .player .fixTable header {
    padding: 10px;
  }
  .player .fixTable header span,
  .player .fixTable header p {
    font-size: 11px;
  }
  .player .fixTable header .move {
    font-size: 11px;
    width: 30px;
    padding: 6px 0;
  }
}
